
.container {
    width: 1000px;
    margin: 0 auto;
}

input { padding: 5px; border: 1px solid #ccc; }
button { padding: 4px; }

ul.console {
    margin: 20px 0;
    padding: 20px 10px;
    background: #222;
    color: #f7f7f7;
    width: 90%;
    overflow-y: auto;
    list-style: none;
    font-family: courier;    
}

ul.console li {
    padding: 10px;
}

#console {
    height: 300px;
}

#log {
    height: 200px;
}