
.container {
    width: 100%;
}

input { padding: 5px; border: 1px solid #ccc; }
button { padding: 4px; }

ul.console {
    padding: 20px 10px;
    background: #222;
    color: #f7f7f7;
    overflow-y: auto;
    list-style: none;
    font-family: monospace;
    font-style: 12px;
}

ul.console li {
    padding: 10px;
}

#console {
    height: 300px;
    float: left;
    width: 58%;
}

#log {
    height: 300px;
    float: right;
    width: 38%;
    text-align: right;
}

.controlPanel {
    margin-bottom: 10px;
}

#attachForm input {
    width: 240px;
}

.clear { clear: both; }